:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --section-title-text-color: #ff0070;
  --section-subtitle-text-color: #000028;
  --section-subtitle-background-color: #ff0070;
  --p-text-color:#f1b2ce;
  --btn-text-color: #ff0070;
  --text-shadow-color: #ff0070;
  --title-text-color: #db00ff;
  --btn-hover-color: rgba(255, 0, 112, 0.4); /* Цвет #FF0070 с 40% непрозрачности */
}


.theme-dark .header__rec {
  display: block;
}
