:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --accent-color: #353430;
  --section-title-text-color: #353430;
  --section-subtitle-text-color: #353430;
  --section-subtitle-background-color: #ff8dcb;
  --p-text-color: #353430;
  --btn-text-color: #353430;
  --text-shadow-color: #ff8dcb;
  --title-text-color: #ffc2e6;
  --btn-hover-color: rgba(50, 49, 45, 0.4); /* Цвет #32312D с 40% непрозрачности */
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --accent-color: #353430;
    --section-title-text-color: #353430;
    --section-subtitle-text-color: #353430;
    --section-subtitle-background-color: #ff8dcb;
    --p-text-color: #353430;
    --btn-text-color: #353430;
    --text-shadow-color: #ff8dcb;
    --title-text-color: #ffc2e6;
    --btn-hover-color: rgba(50, 49, 45, 0.4); /* Цвет #32312D с 40% непрозрачности */
  }
  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}
